*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif};
body {
  margin: 0px;
  display: flex;
}

html {
    scroll-behavior: smooth;
}

.smallDetail {
  margin: 20px 10px 10px 14px;
  font-weight: 500;
}

.jumboTop {
  min-height: 600px;
  box-shadow: 0 4px 8px 0 rgba(179, 179, 179, 0.4), 0 3px 10px 0 rgba(179, 179, 179, 0.4);
}
.jumbos {
  box-shadow: 0 4px 8px 0 rgba(179, 179, 179, 0.4), 0 6px 20px 0 rgba(179, 179, 179, 0.4);
  min-height: 600px;
}

.tipsntricks {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  font-style: italic;
}

.myheadersides {
  width: 10%;
  background-color: rgb(250, 250, 250);

}
.myheadermiddle {
  display: block;
  width: 80%;
  flex: 1;
  background-color: rgb(250, 250, 250);
 
}

.headerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.h1dr {
  color: rgb(13, 60, 79);
}
.h2dr {
  color: rgb(13, 60, 79);
  margin-top: 30px;
  margin-bottom: 30px;
}

.dropzoneWrapper {
  justify-content: center;
  align-content: center;
  align-items: center;
  border: brown;
  border-width: 2px;

}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  display: inline-block;
  padding: 10px;
}

button:focus {
  outline: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #111111;
    text-decoration: none;
    font-weight: normal;
}

.menu {
  background-color: #F6F6F6;
  margin-bottom: '220px';
  
  box-shadow: 5px 5px 5px #EEEEEE;
}

.text-center {
  text-align: center;
}

.home-container {
  padding: 10px;
    font-family: 'Verdana', sans-serif;  

 
}


.item-id {
  width: 25px;
}

.item-text {
  width: 410px;
  padding: 0 5px;
}

.item-date {
  font-size: 12px;
  font-style: italic;
  margin-left: 27px;
  color: #737373
}
