name: Docker Image OnPublish CI
on:
  release:
    types: [published]
    branches:
      - master

env:
  IMAGE_NAME: hhaluk/mocktail

jobs:

  build-dashboard:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mocktail-dashboard

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
        cache: 'yarn'
        cache-dependency-path: ./mocktail-dashboard/yarn.lock
    - run: yarn install --frozen-lockfile
    - run: yarn build

    - uses: actions/upload-artifact@v4
      with:
        name: build
        path: ./mocktail-dashboard/build
    - run: ls


  build-n-push:
    runs-on: ubuntu-latest
    needs: [build-dashboard]

    steps:
    - uses: actions/checkout@v4

    - name: Setup Go environment
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - uses: actions/download-artifact@v4
      with:
        name: build
        path: ./build

    - name: Build the Docker image
      run: docker build --tag $IMAGE_NAME .

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: hhaluk
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push DockerHub
      run: |
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        docker tag $IMAGE_NAME:latest $IMAGE_NAME:$VERSION
        docker image push --all-tags $IMAGE_NAME
